.base {
  padding: 20px 60px;
}

.title,
.group,
.small {
  display: flex;
  padding: 10px 0;
}

.title {
  align-items: center;
  justify-content: space-between;
}

.small {
  justify-content: flex-end;
  font-size: 12px;
}

.group {
  flex-direction: column;
}

.group > * {
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .base {
    padding: 20px;
  }
}
