.base {
  height: 100vh;
}

.title {
  background: rgb(25, 25, 40);
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.console {
  font-family: 'Source Code Pro', monospace;
  background: rgb(40 42 54);
  color: rgb(220, 230, 230);

  height: calc(100% - 55px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px;
  padding-right: 10px;
}

.console li {
  margin: 2px 0;
  word-wrap: break-word;
  list-style-type: '$ ';
}

@media only screen and (max-width: 768px) {
  .base {
    height: 80vh;
  }
}
