.base {
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
}

.title {
  background: rgb(25, 30, 45);
  color: white;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.console {
  background: rgb(40 42 54);
  color: rgb(220, 230, 230);

  width: calc(100% - 40px);
  height: calc(100% - 75px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 20px;
}
