.base {
  height: 100vh;
}

.title {
  background: rgb(25, 30, 45);
  color: white;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.console {
  font-family: 'Source Code Pro', monospace;
  background: rgb(40 42 54);
  color: rgb(220, 230, 230);

  width: calc(100% - 40px);
  height: calc(100% - 55px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 20px;
}

.console li {
  list-style: '‣ ';
}

@media only screen and (max-width: 768px) {
  .base {
    height: 80vh;
  }
}
