.base {
  height: 100%;
  width: 100%;
}

.title {
  background: rgb(25, 25, 40);
  color: white;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  font-family: 'Source Code Pro', monospace;
}
