.base {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
}

.gutter {
  background-color: rgb(60, 60, 80);
  border-right: 3px rgb(90, 90, 90) solid;
  cursor: col-resize;
}

@media only screen and (max-width: 768px) {
  .base {
    grid-template-columns: none;
    grid-template-rows: 1fr 0px 1fr;
  }
}
