.title {
  background: rgb(25, 30, 45);
  color: white;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  font-family: 'Source Code Pro', monospace;
}

@media only screen and (max-width: 768px) {
  .base {
    height: 80vh;
  }
}
