@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Righteous&family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Oswald&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

a {
  color: rgb(61, 138, 201);
}

a:visited {
  color: rgb(30, 163, 162);
}

li {
  margin: 10px 0;
}

body::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(40 42 54);
}

::-webkit-scrollbar-thumb {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(60, 60, 70, 0.4);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
