@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap'); /*logo*/
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&display=swap'); title */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /*regular*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); /*code*/

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: rgb(25, 25, 25);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
a {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', serif;
  margin: 0;
  color: rgb(40, 38, 117);
}

a:link,
a:visited {
  color: rgb(46, 57, 207);
  text-decoration: 2.5px underline rgb(35, 52, 180);
}
a:hover {
  color: rgb(25, 37, 206);
  text-decoration: 3px underline rgb(22, 43, 197);
}

li {
  margin: 10px 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: rgb(109, 102, 161);
}

::-webkit-scrollbar-thumb {
  padding: 8px;
  background-color: rgb(56, 56, 129);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
