.base {
  grid-area: logo;
  font-family: 'Averia Serif Libre', cursive;

  z-index: 10;
  font-size: 65px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s;
}

.base:hover {
  color: rgb(191, 165, 238);
}

.base img {
  height: 55px;
  margin-right: 15px;
}
