.base {
  padding: 20px 60px;
  height: calc(100% - 40px);
}

.small {
  padding: 10px 0;
  font-size: 12px;

  display: flex;
  justify-content: flex-end;
}

.graph {
  display: flex;
  justify-content: center;

  margin: 20px 0;
  height: 500px;
  overflow: auto;
}

.graph svg {
  height: calc(100% - 7px);
  width: max-content;
}

.report {
  margin: 20px 0;
}

h2,
h3 {
  margin: 10px 0;
}

.report > div {
  overflow: auto;
  max-height: 700px;
}

.report > div,
.graph,
th,
td {
  border: 1px rgb(45, 42, 61) solid;
}

table {
  table-layout: fixed;
  text-align: center;
  border-radius: 15px;

  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

th {
  padding: 5px 0;
  background: rgb(112, 112, 175);
}

td {
  padding: 5px 0;
  background: rgb(147, 147, 179);
}

.errors th:nth-child(1),
.variables th:nth-child(1),
.functions th:nth-child(1),
.structs th:nth-child(1) {
  width: 180px;
}

.errors th:nth-child(2),
.errors th:nth-child(3),
.variables th:nth-child(2),
.variables th:nth-child(3),
.functions th:nth-child(2),
.functions th:nth-child(3),
.structs th:nth-child(2),
.structs th:nth-child(3) {
  width: 90px;
}

.errors th:nth-child(4) {
  width: 110px;
}

.variables th:nth-child(4),
.functions th:nth-child(4),
.structs th:nth-child(4) {
  width: 220px;
}

.errors th:nth-child(5),
.variables th:nth-child(5),
.functions th:nth-child(5),
.structs th:nth-child(5) {
  width: 400px;
}

@media only screen and (max-width: 768px) {
  .base {
    padding: 20px;
  }
}
