.base {
  padding: 20px 60px;
}

.small {
  padding: 10px 0;
  font-size: 12px;

  display: flex;
  justify-content: flex-end;
}

.graph {
  margin: 20px 0;
  height: 500px;
  overflow: auto;
}

.graph svg {
  height: calc(100% - 7px);
  width: max-content;
}

.report {
  margin: 20px 0;
}

h2,
h3 {
  margin: 10px 0;
}

.report > div {
  overflow: auto;
  max-height: 700px;
}

.report > div,
.graph,
th,
td {
  border: 1px rgb(45, 42, 61) solid;
}

table {
  table-layout: fixed;
  text-align: center;
  border-radius: 15px;

  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

th {
  padding: 5px 0;
  background: rgb(112, 112, 175);
}

td {
  padding: 5px 0;
  background: rgb(147, 147, 179);
}

@media only screen and (max-width: 768px) {
  .base {
    padding: 20px;
  }
}
