.base {
  padding: 20px 60px;
  height: calc(100% - 40px);
}

.reports {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.reports > div {
  font-size: 25px;
  height: 250px;
  width: 300px;
  margin: 20px 10px;

  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.reports > div:hover {
  cursor: pointer;
  font-size: 24px;
}

.reports > div:active {
  height: 240px;
  width: 290px;
  margin: 25px 15px;
}

@media only screen and (max-width: 768px) {
  .base {
    padding: 20px;
  }
}
