.base {
  z-index: 10;
  position: fixed;
  display: flex;
  height: 100%;

  pointer-events: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 250px;
  padding: 50px 0 30px;

  background: linear-gradient(
    rgb(20, 25, 40),
    rgb(30, 30, 50),
    rgb(20, 20, 40)
  );
  border-right: 3px rgb(20, 20, 35) solid;
  color: white;

  pointer-events: all;
}

.sidebar,
.loader {
  transform: translateX(-195px);
  transition: transform 0.5s;
}

.base.show .sidebar,
.base.show .loader {
  transform: none;
}

.buttons {
  height: fit-content;
  margin-right: -5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.buttons > :first-child {
  margin-bottom: 30px;
}

.info {
  font-size: 12px;
  align-self: center;
  text-decoration: underline 1px;
}

.sidebar a {
  text-decoration: none;
}

.outside {
  position: absolute;
  width: 100vw;
  height: 100%;

  transition: background-color 0.5s;
  z-index: -1;
}

.base.show .outside,
.base.loading .outside {
  background-color: rgba(20, 20, 20, 0.2);
  pointer-events: all;
}

.loader {
  width: 8px;
  background: rgba(50, 50, 70);
  opacity: 0;

  transition: opacity 0.2s ease-in;
}

.base.loading .loader {
  opacity: 1;
}

.bar {
  background: rgba(102, 187, 63, 0.7);
  width: 100%;
  height: 30%;

  position: relative;
  top: -30%;
  right: 0;
  bottom: 0;
  left: 0;

  animation: borealisBar 0.8s ease-in infinite;
}

@keyframes borealisBar {
  0% {
    top: -30%;
  }
  100% {
    top: 130%;
  }
}
