.base {
  color: white;
  padding: 8px;
  height: 25px;
  margin-right: 8px;

  border: 2px rgb(40, 42, 61) solid;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 22px;
}

.base:hover {
  cursor: pointer;
  color: rgb(120, 250, 120);
}
