.base {
  position: relative;
  width: 100%;
  margin-right: -3px;
}

.button {
  background: rgb(40, 40, 65);

  margin-left: 10%;
  width: calc(90% - 3px);
  height: 52px;

  border: none;
  border-right: 3px rgb(20, 20, 40) solid;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button.highlight {
  background: rgb(100, 210, 100);
  border-right: 3px rgb(70, 150, 70) solid;
}

.tooltip {
  font-size: 0.8em;
  position: absolute;
  background-color: rgb(30, 30, 50);

  padding: 5px 8px 2px 10px;
  height: calc(50% - 4px);
  border-radius: 20px;

  top: 25%;
  left: 100%;

  white-space: nowrap;
  pointer-events: none;

  opacity: 0;
  transition: opacity 0.5s ease 0.5s;
}

.base:hover .tooltip {
  opacity: 1;
}

.button img {
  height: 40%;
  margin-left: 5px;
}
