.base {
  z-index: 10;
  position: fixed;
  display: flex;
  height: 100%;
}

.sidebar {
  height: 100%;
  background: linear-gradient(rgb(20, 25, 40), rgb(30, 30, 50), rgb(20, 20, 40));
  border-right: 3px rgb(20, 20, 35) solid;
  margin-left: -193px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: margin-left 0.5s;
}

.sidebar.show {
  margin-left: 0;
}

.sidebar > div {
  height: fit-content;
  width: 250px;

  display: grid;
  grid-template-columns: 190px 60px;
  grid-template-rows: 150px 100%;
  grid-template-areas:
    'logo logo'
    'items buttons';
}

.items {
  grid-area: items;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  position: relative;
}

.items::after {
  content: '';
  display: block;

  position: absolute;
  right: -1px;
  top: -10%;

  height: 120%;
  width: 2px;

  background: linear-gradient(transparent, rgb(40, 40, 60), transparent);
}

.buttons {
  grid-area: buttons;
  height: fit-content;
  margin-right: -3px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.sidebar a {
  color: inherit;
  text-decoration: none;
}

.outside {
  z-index: 10;
  background-color: rgba(20, 20, 20, 0.5);
  width: 100vw;
  height: 100%;
}

.loader {
  background: rgba(50, 50, 70);
  width: 8px;
}

.bar {
  background: rgba(102, 187, 63, 0.7);
  width: 100%;
  height: 30%;

  position: relative;
  top: -30%;
  right: 0;
  bottom: 0;
  left: 0;

  animation: borealisBar 0.8s ease-in infinite;
}

@keyframes borealisBar {
  0% {
    top: -30%;
  }
  100% {
    top: 130%;
  }
}

@media (max-height: 600px) {
  .sidebar {
    justify-content: initial;
  }

  .sidebar > div {
    grid-template-rows: 110px 100%;
  }
}
