.base {
  font-family: 'Righteous', cursive;
  font-size: 18px;

  width: calc(90% - 40px);
  padding: 12px 15px;
  border-radius: 20px;
}

.base a {
  color: inherit;
}

.base a:hover {
  color: rgb(170, 250, 180);
}
