.base {
  background: transparent;
  color: rgb(120, 250, 120);

  width: 100%;
  height: 100px;
  height: 34px;
  padding: 20px 0;

  border: 2px rgb(40, 42, 61) solid;
  border-left: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
}

.base:hover {
  cursor: pointer;
  border-right: 2px rgb(101, 206, 101) solid;
  width: 100%;
}

.base:active {
  border-right: 2px rgb(147, 216, 147) solid;
}
