.base {
  font-size: 17px;

  width: calc(100% - 16px);
  height: 50px;
  margin-bottom: 10px;
  border-radius: 23px;

  display: flex;
  align-items: center;
}

.base:hover {
  border-bottom: 1px rgba(55, 55, 70, 0.5) solid;
  margin-bottom: 9px;
}

.base img {
  width: 25px;
  margin: 0 15px;
}
