.base {
  font-size: 17px;
  border-bottom: 2px rgba(25, 25, 35, 0.5) solid;

  width: calc(100% - 16px);
  height: 50px;
  border-radius: 23px;

  display: flex;
  align-items: center;
}

.base:hover {
  border-bottom: 2px rgba(55, 55, 70, 0.5) solid;
}

.base svg {
  width: 25px;
  margin: 0 15px;
  fill: white;
}
